<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Českolipský vzájemný kredit</title>
   </head>
   <body>
      <h1>Českolipský vzájemný kredit</h1>

     <p>Přihlašte se prosím údaji od administrátora.</p>

      {{#if message}}
         <p><b>{{ message }}</b></p>
      {{/if}}

      <form action="/login" method="post" accept-charset="utf-8">
         <label for="username">uživatel</label><br>
         <input type="text" name="username" id="username" value="" required autofocus /><br>
         <label for="password">heslo</label><br>
         <input type="password" name="password" id="password" value="" required /><br>
         <p><input type="submit" value="přihlásit"></p>
      </form>

      <h3>Jak to funguje?</h3>
      <p>Jedná se o evoluci myšlenky poukazů již z doby středověku.
      Pekař má napečeno, ale nemá u sebe zrovna dost peněz na zboží ostatních,
      takže vydá poukaz na své zboží. Ten se následně na tržnici začne používat namísto peněz, dokud nezanikne zpět u pekaře.
      V <b>LETS/Mutual creditu</b> je poukaz univerzálnější.<p>
      <h4>Podmínky</h4>
      <ul><li>Zájemce by měl něco dlouhodobě nabízet. Například přebytky ze zahrady nebo nějakou službu. Nemusí to být pravidelně.
      Takový zájemce může spolu s informacemi o nabídce zažádat o členství například na adrese torian@email.cz.
      Nový člen může využít kreditu až po první příchozí platbě.</li>
      <li>Provozovatel neručí za žádné problémy související s touto platformou. Sami musíte posoudit důvěryhodnost protistrany.</li>
      <li>Přihlášení vyžaduje uložení tzv. cookie na Vaše zařízení. Žádná osobní data nesbíráme.
      Inzeráty a seznam uživatelů nejsou součástí platformy.</li></ul>
   </body>
</html>